In [7]:
NAME="Kaleab hailemariam"
NAME= NAME+"is a data scienetist"
NAME

'Kaleab hailemariamis a data scienetist'

In [8]:
NAME[0:3]

'Kal'

In [9]:
print("Kaleab hailemariam \n is a data scientist")

Kaleab hailemariam
 is a data scientist

In [5]:
NAME=NAME.replace("kaleab hailemariam","Azmachnesh Fekade")

In [6]:
NAME

'Kaleab hailemariamis a data scienetist'

In [10]:
B=NAME.replace('kaleab hailemariam','Azmachnesh Fekade')
B

'Kaleab hailemariamis a data scienetist'

print(B)

In [11]:
NAME

'Kaleab hailemariamis a data scienetist'

In [10]:
type(int(12.3))

int

In [11]:
int(False)

0

In [14]:
x=2/2
type(x)

float

In [13]:
# creating a tuple
different=("mom",1,5.5)
type(different)

tuple

In [17]:
different[1]

1

In [19]:
different[0]

'mom'

In [14]:
tuple2=different+('tsi',10,3.4)

In [15]:
tuple2

('mom', 1, 5.5, 'tsi', 10, 3.4)

In [16]:
# the first three elements of my tuple
tuple2[0:3]

('mom', 1, 5.5)

In [17]:
#the last two elements of the tuple
tuple2[3:5]

('tsi', 10)

In [18]:
len(tuple2)

6

In [19]:
NT=(1,2,3,("I love mom","nute"),3,4,("love","hate",(1,2)))

In [20]:
NT

(1, 2, 3, ('I love mom', 'nute'), 3, 4, ('love', 'hate', (1, 2)))

In [21]:
len(NT)

7

In [22]:
# find the word love whatever it is
# 1
NT[3][0][2:6]

'love'

In [23]:
# the second love is 
NT[6][0]

'love'

In [29]:
L=[1,2,[3,4],3,4,["seaman","rides"]]
type(L)
len(L)
L

[1, 2, [3, 4], 3, 4, ['seaman', 'rides']]

In [30]:
L.extend(["tsi","dad",10])

In [36]:
L.append(["A"])
L

[1, 2, [3, 4], 3, 4, ['seaman', 'rides'], 'tsi', 'dad', 10, ['A'], ['A']]

In [27]:
M=[1,2,("I love mom","nute"),[3,4],3,4,]
M

[1, 2, ('I love mom', 'nute'), [3, 4], 3, 4]

In [28]:
M.extend(['kidus',10])
M

[1, 2, ('I love mom', 'nute'), [3, 4], 3, 4, 'kidus', 10]

In [33]:
# renaming a list
M[0]="kaleab"
M

['kaleab', 2, ('I love mom', 'nute'), [3, 4], 3, 4, 'kidus', 10]

In [35]:
# use the del() function to delete an entry in  the list
del(M[1])
M

['kaleab', [3, 4], 3, 4, 'kidus', 10]

In [40]:
del(L[2:5])
L

[1, 2, 10, ['A'], ['A']]

In [41]:
#split() function is used to change a string into a tuple
"a,b,c,d".split()

['a,b,c,d']

In [42]:
"kaleab Hailemariam".split()

['kaleab', 'Hailemariam']

In [44]:
A=["hard rock",10,12.4]
B=A
B[0]

'hard rock'

In [46]:
A[0]="kaleab hailemariam"
A

['kaleab hailemariam', 10, 12.4]

In [47]:
B[0]

'kaleab hailemariam'

In [ ]:
hel